@font-face {
    font-family: "CursedTimer";
    src: 
        local("CursedTimerUlil-Aznm.ttf"),
        url('/CursedTimerUlil-Aznm.ttf') format("truetype");
}

body {
    margin: 0;
    background-color: #1B244A;
    
}

.container {
    display: flex;
    justify-content: space-around;
    color: white;    
}

.display {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;    
    max-height: 100vh;    
    background-color: black;
    font-size: 70px;
    color: #F94F6D;
    font-family: CursedTimer;    
    border-radius: 5px;
}

.display-title-wrapper {
    width: 155px;
    max-width: 100vw;
    font-family: Verdana;
}

.lowerBtns {
    display: flex;
    justify-content: space-around;
}

.container button {
    border: 2px solid #9AABD8;
    border-radius: 5px;
    margin: 30px 0px 10px 0px;
    padding: 10px 10px;
    color: #9AABD8;
    background-color: inherit;
    font-family: CursedTimer;
}

.upperTitles {
    display: flex;
    justify-content: center;
    margin: 100px 0px 20px 0px;
    font-size: 40px;    
}

#newGameContainer {
    display: flex;    
    justify-content: center;
}

#newGameBtn {
    text-align: center;
    margin-top: 50px;
}

#newGameBtn button {
    background-color: #01366e;
    font-family: Verdana;
    font-weight: bold;
    font-size: 18px;
    padding: 10px 20px;
    border: 1px solid white;
    border-radius: 5px;
    color: white;    
}